<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-lesson3-boot:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/spring_lesson3_boot_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="spring-lesson3-boot/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring-lesson3-boot" />
        </element>
      </element>
    </root>
  </artifact>
</component>